[Desktop Entry]
Name=gtranslator
Name[da]=gtranslator
Name[de]=gtranslator
Name[no]=gtranslator
Name[tr]=gtranslator
Comment=The Gnome translation programm
Comment[da]=GNOME oversættelsesprogram
Comment[de]=Das Gnome Übersetzungsprogramm
Comment[no]=GNOME oversettingsprogram
Comment[tr]=Gnome tercüme uygulamasý
Icon=gtranslator.png
TryExec=gtranslator
Exec=gtranslator
Terminal=0
Type=Application
