[Desktop Entry]
Name=gtranslator
Name[da]=Gtranslator
Name[de]=gtranslator
Name[no]=gtranslator
Name[tr]=gtranslator
Name[uk]=ğÅÒÅËÌÁÄÁŞ
Comment=The Gnome translation programm
Comment[da]=Gnome oversættelsesprogram
Comment[de]=Das Gnome Übersetzungsprogramm
Comment[no]=GNOME oversettingsprogram
Comment[tr]=Gnome tercüme uygulaması
Comment[uk]=ğÅÒÅËÌÁÄÁŞ ĞÒÏÇÒÁÍ
Icon=gtranslator.png
TryExec=gtranslator
Exec=gtranslator
Terminal=0
Type=Application
