[Desktop Entry]
Name=gtranslator
Name[da]=Gtranslator
Name[de]=gtranslator
Name[fi]=gtranslator
Name[fr]=gtranslator
Name[gl]=gtranslator
Name[hu]=gtranslator
Name[lt]=gtranslator
Name[no]=gtranslator
Name[pt_BR]=gtranslator
Name[sv]=gtranslator
Name[tr]=gtranslator
Name[uk]=ğÅÒÅËÌÁÄÁŞ
Comment=The Gnome translation program
Comment[da]=Gnome oversættelsesprogram
Comment[de]=Das Gnome Übersetzungsprogramm
Comment[fi]=Gnomen kääntämisohjelma
Comment[fr]=Programme de traduction GNOME
Comment[gl]=O programa de traducción de Gnome
Comment[hu]=A GNOME po fordító programja
Comment[lt]=Gnome vertimo árankis
Comment[no]=GNOME oversettingsprogram
Comment[pt_BR]=O programa de tradução do Gnome
Comment[sv]=Gnome-översättningsprogrammet
Comment[tr]=Gnome tercüme uygulaması
Comment[uk]=ğÒÏÇÒÁÍÁ ĞÅÒÅËÌÁÄÕ ÄÌÑ GNOME
Icon=gtranslator.png
TryExec=gtranslator
Exec=gtranslator
Terminal=0
Type=Application
