Source: gtranslator
Section: x11
Priority: optional
Maintainer: Ryan Murray <rmurray@debian.org>
Build-Depends: libgal-dev (>= 0.10.99), libgnome-vfs-dev (>= 0.4.1), libgconf-dev (>= 1.0), scrollkeeper (>= 0.1.4), gettext
Standards-Version: 3.5.2.0

Package: gtranslator
Architecture: any
Depends: ${shlibs:Depends}, scrollkeeper (>= 0.1.4)
Description: PO-file editor by the Gnome I18N team
 A 'translation-supporting' program, which makes translating programs easy
 even for non-programmers.
 .
 You might want to subscribe to the gnome-i18n-mailing list (see
 developer.gnome.org for instructions) for more translation information.
