Source: gtranslator
Section: x11
Priority: optional
Maintainer: Fatih Demir <kabalak@gtranslator.org>
Build-Depends: libgconf-dev, libgnomeui-dev, libgal-dev, libgnome-vfs-dev
Standards-Version: 3.0.1

Package: gtranslator
Architecture: any
Section: x11
Priority: optional
Depends: ${shlibs:Depends}
Description:A comfortable po file editor with many features.
 gtranslator is a comfortable po file editor with many bells and whistles.
 It features many useful function which ease the work of translators of po
 files immenantly.

Package: gtranslator-nautilus
Architecture: any
Section: x11
Priority: optional
Depends: ${shlibs:Depends}
Description:The nautilus-gtranslator-view component for Nautilus.
 The nautilus-gtranslator-view allows you to preview the header details of a po
 file within nautilus and/or to open the file with gtranslator per a single
 icon/menu entry selection.
