Source: gtranslator
Section: x11
Priority: optional
Maintainer: Fatih Demir <kabalak@gtranslator.org>
Standards-Version: 3.5.8
Build-Depends: debmake

Package: gtranslator
Architecture: any
Depends: ${shlibs:Depends}
Description: GNOME 2.x desktop's enhanced gettext po files editor
 gtranslator is one of the very enhanced gettext po file editors under GNOME and
 features many quite usable functions like autotranslation, learning, search/replace,
 comfortable GUI handling of all po file details, opening of many subformats of gettext
 po files etc.
 .
 A mailing list for gtranslator is available at gtranslator-devel@lists.sourceforge.net
 and can be accessed via http://lists.sourceforge.net/lists/listinfo/gtranslator-devel,
 the project homepage is at http://www.gtranslator.org.
