#! /usr/bin/make -f
# This is not a -*- Makefile -*- I'm just faking it
# *sigh*

checkdir=test -f debian/control 
checkroot=test `id -u` -eq 0

configure: configure-stamp
configure-stamp:
	$(checkdir)

	./configure --prefix=/usr			\
		--mandir=\$${prefix}/share/man		\
		--infodir=\$${prefix}/share/info	\
		--sysconfdir=/etc

	touch configure-stamp

build: configure build-stamp
build-stamp:
	$(checkdir)

	$(MAKE)

	touch build-stamp

install: install-stamp
install-stamp:
	$(checkdir)
	$(checkroot)

	$(MAKE) install \
		prefix=`pwd`/debian/tmp/usr \
		sysconfdir=`pwd`/debian/tmp/etc \
		SC_OMFDIR=`pwd`/debian/tmp/usr/share/omf

	find debian/tmp -type d -print0 | xargs -0 chmod 755
	find debian/tmp/etc -name '%gconf.xml' -print0 | xargs -0 chmod 644

	strip -R .note -R .comment debian/tmp/usr/bin/gtranslator \
				   debian/tmp/usr/lib/gtranslator/backends/docbook/docbook.so \
				   debian/tmp/usr/lib/gtranslator/backends/text/text.so

	chmod 644 debian/tmp/usr/lib/gtranslator/backends/text/text.la \
		  debian/tmp/usr/lib/gtranslator/backends/text/text.so \
		  debian/tmp/usr/lib/gtranslator/backends/docbook/docbook.la \
		  debian/tmp/usr/lib/gtranslator/backends/docbook/docbook.so

	touch install-stamp

clean:
	$(checkdir)
	$(checkroot)

	-$(MAKE) distclean
	-rm -rf build-stamp configure-stamp install-stamp
	-rm -rf debian/tmp
	-rm -rf debian/files debian/substvars

binary-indep:
	echo "No architecture-independant files to build."

binary-arch: build install
	$(checkdir)
	$(checkroot)

	# Install stuff	
	install -d -m 755 -o root -g root debian/tmp/DEBIAN
	install -d -m 755 -o root -g root debian/tmp/usr/lib/menu
	install -d -m 755 -o root -g root debian/tmp/usr/share/doc/gtranslator

	install -m 644 -o root -g root README			\
		debian/tmp/usr/share/doc/gtranslator/README
	install -m 644 -o root -g root ChangeLog		\
		debian/tmp/usr/share/doc/gtranslator/changelog

	install -m 644 -o root -g root debian/copyright		\
		debian/tmp/usr/share/doc/gtranslator
	install -m 644 -o root -g root debian/changelog		\
		debian/tmp/usr/share/doc/gtranslator/changelog.Debian

	install -m 644 -o root -g root debian/menu		\
		debian/tmp/usr/lib/menu/gtranslator

	install -m 755 -o root -g root debian/postinst		\
		debian/tmp/DEBIAN/postinst
	install -m 755 -o root -g root debian/prerm		\
		debian/tmp/DEBIAN/prerm
	install -m 755 -o root -g root debian/postrm		\
		debian/tmp/DEBIAN/postrm

	# And gzip it
	gzip -9f debian/tmp/usr/share/doc/gtranslator/README
	gzip -9f debian/tmp/usr/share/doc/gtranslator/changelog
	gzip -9f debian/tmp/usr/share/doc/gtranslator/changelog.Debian

	# Build packages (dpkg-deb, shlibdeps)	
	dpkg-shlibdeps -Tdebian/substvars			\
		debian/tmp/usr/bin/gtranslator
	dpkg-gencontrol -pgtranslator -isp -Pdebian/tmp -Tdebian/substvars
	dpkg --build debian/tmp ..

# Build packages (dpkg-deb)

binary:	binary-indep binary-arch

.PHONY: configure build binary-indep binary-arch binary clean
