#!/usr/bin/make -f
#
# (C) 2001 Fatih Demir <kabalak@gtranslator.org>
#
# An own written rules file -- debhelper-alike.
#

deb_mandir=`pwd`/debian/tmp/usr/share/man

build: configure-step build-step

configure: configure-step
configure-step:
	dh_testdir
	./configure --prefix=/usr --mandir=/usr/share/man \
		--sysconfdir=/etc --enable-nautilus-view \
		--with-gconf --enable-mime-bind=yes

	touch configure-step

build-step:
	dh_testdir
	$(MAKE)

	touch build-step

clean:
	dh_testdir
	dh_testroot
	rm -f build-step configure-step
	
	-$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	$(MAKE) prefix=`pwd`/debian/tmp/usr \
		mandir=$(deb_mandir) \
		sysconfdir=`pwd`/debian/tmp/etc \
		SC_OMFDIR=`pwd`/debian/tmp/usr/share/omf install

	dh_movefiles

binary-arch: build install
	dh_testdir -pgtranslator
	dh_testroot -pgtranslator
	dh_installmenu -pgtranslator
	dh_installdocs -pgtranslator
	dh_installchangelogs -pgtranslator ChangeLog
	dh_link -pgtranslator
	dh_strip -pgtranslator
	dh_compress -pgtranslator
	dh_fixperms -pgtranslator
	dh_installdeb -pgtranslator
	dh_makeshlibs -pgtranslator
	dh_shlibdeps -pgtranslator
	dh_gencontrol -pgtranslator
	dh_md5sums -pgtranslator
	dh_builddeb -pgtranslator
	
	dh_testdir -pgtranslator-nautilus
	dh_testroot -pgtranslator-nautilus
	dh_installmenu -pgtranslator-nautilus
	dh_installdocs -pgtranslator-nautilus
	dh_installchangelogs -pgtranslator-nautilus nautilus-view/ChangeLog
	dh_link -pgtranslator-nautilus
	dh_strip -pgtranslator-nautilus
	dh_compress -pgtranslator-nautilus
	dh_fixperms -pgtranslator-nautilus
	dh_installdeb -pgtranslator-nautilus
	dh_makeshlibs -pgtranslator-nautilus
	dh_shlibdeps -pgtranslator-nautilus
	dh_gencontrol -pgtranslator-nautilus
	dh_md5sums -pgtranslator-nautilus
	dh_builddeb -pgtranslator-nautilus

binary: binary-arch
.PHONY: build clean binary-arch binary install
