#!/usr/bin/make -f
#
# (C) 2001 Fatih Demir <kabalak@gtranslator.org>
#
# An own written rules file -- debhelper-alike.
#

deb_mandir=`pwd`/debian/tmp/usr/share/man

build: configure-step build-step

configure: configure-step
configure-step:
	dh_testdir
	./configure --prefix=/usr --mandir=/usr/share/man \
		--sysconfdir=/etc \
		--enable-mime-bind=yes

	touch configure-step

build-step:
	dh_testdir
	$(MAKE)

	touch build-step

clean:
	dh_testdir
	dh_testroot
	rm -f build-step configure-step
	
	-$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	$(MAKE) prefix=`pwd`/debian/tmp/usr \
		mandir=$(deb_mandir) \
		sysconfdir=`pwd`/debian/tmp/etc \
		SC_OMFDIR=`pwd`/debian/tmp/usr/share/omf install

	dh_movefiles

binary-arch: build install
	dh_testdir 
	dh_testroot 
	dh_installmenu 
	dh_installdocs
	dh_installchangelogs ChangeLog
	dh_link 
	dh_strip 
	dh_compress 
	dh_fixperms 
	dh_installdeb 
	dh_makeshlibs
	dh_shlibdeps 
	dh_gencontrol 
	dh_md5sums 
	dh_builddeb
	
binary: binary-arch
.PHONY: build clean binary-arch binary install
