[Desktop Entry]
Name=gtranslator
Name[da]=Gtranslator
Name[de]=gtranslator
Name[lt]=gtranslator
Name[no]=gtranslator
Name[sv]=gtranslator
Name[tr]=gtranslator
Comment=The Gnome translation program
Comment[da]=Gnome oversættelsesprogram
Comment[de]=Das Gnome Übersetzungsprogramm
Comment[lt]=Gnome vertimo árankis
Comment[no]=GNOME oversettingsprogram
Comment[sv]=Gnome-översättningsprogrammet
Comment[tr]=Gnome tercüme uygulamasý
Icon=gtranslator.png
TryExec=gtranslator
Exec=gtranslator
Terminal=0
Type=Application
