[Desktop Entry]
Name=gtranslator
Name[no]=gtranslator
Name[tr]=gtranslator
Name[de]=gtranslator
Comment="The Gnome translation programm"
Comment[no]=GNOME oversettingsprogram
Comment[de]="Das Gnome Übersetzungsprogramm"
Comment[tr]="Gnome tercüme uygulamasý"
Icon=gtranslator.png
TryExec=gtranslator
Exec=gtranslator
Terminal=0
Type=Application
