[Desktop Entry]
Name=gtranslator
Name[tr]=gtranslator
Comment="The Gnome translation programm"
Comment[tr]="Gnome tercüme uygulamasý"
Icon=gtranslator.png
TryExec=gtranslator
Exec=gtranslator
Terminal=0
Type=Application
